h3 {
    color: var(--ion-color-primary-shade);
    text-align: center;
    font-weight: bold;
}
h4 {
    font-weight: bold;
    margin: 0;
    color: black;
}
h6 {
    font-size: 5vw;
    @media screen and (min-width: 400px) {
        font-size: 20px;
    }
}
ion-content {
    --padding-bottom: 10px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
}
ion-button {
    text-decoration: none;
    width: 100%;
    max-height: 40px;
    --background: var(--ion-color-primary);
    --color: white;
    --border-radius: 8px;
    &.secondary-button-outlined {
        border-radius: 10px;
        border: 2px var(--ion-color-medium-tint) solid;
        --background: transparent;
        --color: var(--ion-color-primary);
        --background-activated: var(--ion-color-light);
        padding: 0;
    }
}
ion-button.outlined {
    border-radius: 5px;
    --background: white;
    color: var(--ion-color-primary);
    border: 2px solid var(--ion-color-primary);
}
.error {
    color: var(--ion-color-danger);
}
ion-select {
    border: 1px solid var(--ion-color-light-shade);
    border-radius: 5px;
}

ion-item {
    --detail-icon-opacity: 1;
}
ion-item,
p {
    color: var(--ion-color-medium);
}
ion-alert{
    .alert-wrapper {
        --max-height: 75vh;
        --max-width: 80vw;
        .alert-head {
            .alert-title{
                font-size: 22px;
            }
        }
        div.alert-message {
            font-size: 16px;
            max-height: 100%;
            padding: 0 35px 20px;
        }
    }
}
a {
    text-decoration: none;
    font-weight: bold;
}
.plt-android {
    ion-toolbar ion-back-button {
        display: none;
    }
}
ion-app {
    background: white;
}
